logs/mapEditor.log
logs/spriteEditor.log
logs/compile.log
editor/
world/partner/src/
map/temp/
map/src/
battle/move/temp/
battle/formation/import/enemy/
battle/formation/src/
battle/starpower/src/
battle/formation/temp/
battle/item/src/
battle/starpower/temp/
battle/partner/temp/
battle/move/src/
battle/partner/src/
out/
image/cache/
sprite/npc/cache/
sprite/player/cache/